<app-cover></app-cover>
<div id="container">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h3 class="display-5">THỜI TRANG NAM MỚI NHẤT</h3>
      </div>
      <hr style="margin-right: 5px">

      <hr style="margin-left: 5px">
      <div class="col-12">
        <div class="container-fluid padding" align="center">
          <div class="row">
            <div class="col-md-3" *ngFor="let bookNew of bookNewList, index as i">
              <app-card [book]="bookNew"></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="light-100">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h3 class="display-5"> DÀNH CHO BẠN</h3>
      </div>
      <hr style="margin-right: 5px">

      <hr style="margin-left: 5px">
      <div class="col-12">
        <div class="container-fluid padding" align="center">
          <div class="row">
            <div class="col-md-3" *ngFor="let bookHot of bookHotList, index as i">
              <app-card [book]="bookHot"></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  <div>-->
  <!--    &lt;!&ndash;    <style>&ndash;&gt;-->

  <!--    &lt;!&ndash;  #floating-phone { display: none; position: fixed; left: 10px; bottom: 10px; height: 50px; width: 50px; background: #46C11E url(http://callnowbutton.com/phone/callbutton01.png) center / 30px no-repeat; z-index: 99; color: #FFF; font-size: 35px; line-height: 55px; text-align: center; border-radius: 50%; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5); -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5); box-shadow: 0 2px 5px rgba(0,0,0,.5); }&ndash;&gt;-->

  <!--    &lt;!&ndash;  @media (max-width: 650px) { #floating-phone { display: block; } }&ndash;&gt;-->

  <!--    &lt;!&ndash;</style>&ndash;&gt;-->
  <!--    <a href="tel:0942691366" title=”Gọi 0942691366″ onclick="_gaq.push(['trackEvent','Contact', 'Call Now Button', 'Phone']);" id="floating-phone">-->

  <!--      <i class=”uk-icon-phone”></i></a>-->
  <!--  </div>-->
  <hr class="light-100">

</div>
