<div class="container">
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h1>Blog</h1>
    <hr style="margin-left: 5px">
  </div>

  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h5>QT-SHOP kính chào quý khách !</h5>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="m-3 " align="center">
          <img src="../../../../assets/images/nam4.gif" class="main1" style="width: 100%; height: 400px">
          <div class="row text-center">
            <hr style="margin-right: 5px">
            <h3>Shop thời trang uy tí</h3>
            <hr style="margin-left: 5px">
          </div>
          <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma"> 👉Dòng sơmi basic cực đẹp cho ae diện mỗi ngày luôn ạ😘</p>
          <p class="text-center">✔️Sơ mi lụa , KHÔNG nhăn, KHÔNG xù, KHÔNG phai. Mặc cực mát.</p>
          <p class="text-center"> ✔️Đủ size S, M, L, XL, XXL, 3XL ( 40-88kg )</p>
          <p class="text-center">✔️Cam kết đúng hình chuẩn size - được kiểm tra kỹ trước khi thanh toán</p>
          <p class="text-center">✔️Ship CoD 24h 48h toàn quốc tận nhà #30k</p>
          <p class="text-center"> ✔️Đổi trả nhanh chóng trong vòng 5 ngày!</p>
          <p class="text-center">✔️Mua 3 áo #MiễnPhíShip</p>

<!--          <div class="row text-center">-->
<!--            <hr style="margin-right: 5px">-->
<!--            <h3>GIẤY PHÉP KINH DOANH </h3>-->
<!--            <hr style="margin-left: 5px">-->
<!--            <div class="container-fluid padding">-->
<!--              <div class="row padding">-->
<!--                <div class="col-md-12 col-auto">-->
<!--                  <div class="row">-->
<!--                    <div class="col-sm-12">-->
<!--                      <img src="../../../../assets/images/db2ec798b8f31033cd1aea766a48c602.jpg" class="main1">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="container-fluid padding">-->
<!--                  <div class="row padding">-->
<!--                    <div class="col-md-12 col-auto">-->
<!--                      <div class="row">-->
<!--                        <div class="col-sm-12">-->
<!--                          <img src="../../../../assets/images/a_ng-ky8-kinh-doanh-Laco-Trang-2-01-600x776.png"-->
<!--                               class="main2">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="container-fluid padding">-->
<!--                      <div class="row padding">-->
<!--                        <div class="col-md-12 col-auto">-->
<!--                          <div class="row">-->
<!--                            <div class="col-sm-12">-->
<!--                              <img src="../../../../assets/images/a_ng-ky8-ma¦-vach-Laco-Trang-1-01.png" class="main3">-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
<!--        <div>-->
<!--          <h5>SẢN PHẨM HOT NHẤT</h5>-->
<!--          <p>Có những điều Kì Diệu xuất hiện vào đúng thời điểm sẽ làm thay đổi cuộc đời bạn mãi mãi! Và dòng sản phẩm-->
<!--            chăm sóc Tóc Organic Amla chính là điều Kì Diệu mà LACO muốn gửi tặng tới mái tóc của bạn! </p>-->
<!--          <p>Cùng AMLA khám phá hành trình Kì Diệu cho một mái tóc thực sự Chắc Khỏe! </p>-->
<!--          <p>Bộ ba sản phẩm Dầu gội – Dầu xả – Serum Amla là dòng sản phẩm Organic sản xuất tham chiếu theo tiêu chuẩn-->
<!--            cấp chứng chỉ Organic của Bộ Nông Nghiệp Hoa Kỳ ( USDA ) với thành phần hữu cơ hơn 85 %, là sự kết hợp tuyệt-->
<!--            vời giữa tinh chất quả Amla Ấn Độ cùng 8 loại Thảo mộc Việt Nam.</p>-->
<!--          <p>Dòng sản phẩm chăm sóc Tóc Organic Amla không chỉ đơn thuần là sản phẩm Gội – Xả làm sạch tóc & da đầu, mà-->
<!--            hơn hết còn:</p>-->
<!--          <p>Phục Hồi lại Chân tóc & Da đầu bị hư tổn giúp cải thiện rõ rệt tình trạng ngứa và rụng tóc sau 2 tuần</p>-->
<!--          <p>Nuôi Dưỡng từ bên trong giúp mái tóc chắc khỏe hơn bao giờ hết với chiết xuất từ quả Amla-->
<!--            Bảo Vệ Tóc & Da đầu khỏi các tác nhân gây hại từ môi trường; cùng hương thơm nhẹ nhàng giúp bạn giải tỏa-->
<!--            Stress trong cuộc sốn</p>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

