<h2>Sóa sản phẩm</h2>
<div class="col-6 offset-3" *ngIf="book">
  <img [src]="[book.bookPictures[0].src]" class="profile-img-card offset-3" style="width: 50%"/>
  <table class="table">
    <tr>
      <td>Tên sản phẩm:</td>
      <td>{{book.name}}</td>
    </tr>
    <tr>
      <td>Giá :</td>
      <td>{{book.price}}</td>
    </tr>
    <tr>
      <td>giới thiệu:</td>
      <td>{{book.description}}</td>
    </tr>
    <tr>
      <td>Số lượng:</td>
      <td>{{book.amount}}</td>
    </tr>
    <tr>
      <td>Days on the shelves:</td>
      <td>{{book.amount}}</td>
    </tr>
    <!--    <tr>-->
    <!--      <td>Ngày sản xuất:</td>-->
    <!--      <td><div *ngFor="let author of book.authors">{{author.name}}</div></td>-->
    <!--    </tr>-->
    <tr>
<!--      <td>Nhãn hiệu:</td>-->
<!--      <td><div *ngFor="let language of book.languages">{{language.name}}</div></td>-->
    </tr>
    <tr>
<!--      <td>Xuất sứ:</td>-->
<!--      <td>{{book.publishing.name}}</td>-->
<!--    </tr>-->
    <tr>
    <td>Thể loại:</td>
    <td>{{book.category.name}}</td>
  </tr>
    <tr>
      <td>Picture</td>
      <td><div *ngFor="let picture of book.bookPictures, index as i"><img *ngIf="i!=0" src="{{picture.src}}" width="200px"></div></td>
    </tr>
  </table>
  <input class="btn btn-primary btn-block" value="Delete book" data-toggle="modal" data-target="#exampleModal">
  <input class="btn btn-primary btn-block" value="Back to book list" routerLink="/book-list">

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">QT-SHOP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn xóa sản phẩm này không
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteBook(book.id)" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
