<div class="col-6 offset-3">
  <h3 class="text-center">Edit </h3>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have editted
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Back to list" routerLink="/publishing-list">
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="publishingForm"
    (ngSubmit)="publishingForm.valid && onSubmit()">


    <div class="form-group">
      <label>xuất xứ</label>
      <input type="text" class="form-control" formControlName="name">
      <div class="alert-danger" *ngIf="publishingForm.get('name').invalid && publishingForm.get('name').touched"
           style="color: red">
        name must be at least 1 characters
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Save</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Cancel" routerLink="/publishing-list">
    </div>
  </form>
</div>
