<div class="card">
    <a [routerLink]="['/book-detail-public', book.id]">
      <div>
        <img class="img-card" [src]="book.bookPictures[0].src" alt="sss">
        <div class="card-body center-parent cursor-pointer">
          <a *ngIf="book.amount > 0" (click)="addCart(book.id)" class="add-card" data-toggle="modal"
             [attr.data-target]="'#addBookToCart' + book.id">
            <img class="add-card-hover" src="assets/images/baseline_add_shopping_cart_white_18dp.png">
          </a>
        </div>
      </div>
    </a>
  <div style="margin: 5px">
    <h5 class="card-title text-center">{{book.name}}</h5>
    <h6 class="card-text text-center">{{book.price | currency: "VND" : "đ "}}</h6>
  </div>
</div>

<div [id]="'addBookToCart'+ book.id" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> QT-SHOP </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sản phẩm {{book.name}}đã được thêm vào giỏ hàng</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
