<!-- Footer -->
<footer class="pt-5 pb-4" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">Thông tin về chúng tôi</h5>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-map-marker"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Địa chỉ:</h6>
                <p>179 phố vĩnh hưng , phường vĩnh hưng , quận hoàng mai , hà nội</p>
              </div>
            </div>
          </li>
<!--          <li>-->
<!--            <div class="row">-->
<!--              <div class="col-1"><i class="fa fa-envelope"></i></div>-->
<!--              <div class="col-10">-->
<!--                <h6 class="font-weight-bold mb-0">mọi vấn đề  về sản phẩm xin liên hệ : </h6>-->
<!--                <p><a href="#">QT-shop</a></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
          <li>
            <div class="row">
              <div class="col-1"><i class="fa fa-phone"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Số điện thoại liên hệ:</h6>
                <p><a href="tel:+84905927548">0905927548</a></p>
                <!--                <p>Vui lòng không nháy máy Lão Hạc rất cục tính, chúng tôi không chịu trách nhiệm</p>-->
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">Chăm sóc khách hàng</h5>
        <ul class="f-address">
          <li>
            <div class="row">
              <div> <i class="fa fa-envelope-o"></i> Email: <a href="mailto:duylongnguyene8@gmail.com" rel="nofollow" title="4MEN EMAIL">duylongnguyene8@gmail.com</a> </div>
<!--              <div class="col-1"><i class="fa fa-facebook-f"></i></div>-->
<!--              <div class="col-10">-->
<!--                <p class="mb-0"><a href="https://www.facebook.com/QT-Store-Chu%E1%BA%A9n-Th%E1%BB%9Di-Trang-Nam-196002297987242/">@Đào Thị Trang </a></p>-->
<!--                <label>sự hài lòng của khách hàng là thành công của chúng tôi</label>-->
<!--                &lt;!&ndash;                <label>Số tôi mất điện, đã thế còn bị tắt đèn</label>&ndash;&gt;-->
<!--              </div>-->
            </div>
          </li>
          <!--          <li>-->
          <!--            <div class="row">-->
          <!--              <div class="col-1"><i class="fa fa-facebook-f"></i></div>-->
          <!--              <div class="col-10">-->
          <!--&lt;!&ndash;                <p class="mb-0"><a href="https://www.facebook.com/profile.php?id=100045314345814">@Lão Hạc </a></p>&ndash;&gt;-->
          <!--                <label>DÀNH CHO NGƯỜI MUA</label>-->
          <!--                <label> Giải quyết khiếu nại-->
          <!--                  Hướng dẫn mua hàng-->
          <!--                  Chính sách đổi trả-->
          <!--                  Chăm sóc khách hàng-->
          <!--                  Nạp tiền điện thoại</label>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <div class="row">-->
          <!--              <div class="col-1"><i class="fa fa-facebook-f"></i></div>-->
          <!--              <div class="col-10">-->
          <!--                <p class="mb-0"><a href="https://www.facebook.com/chipheolangvudaicrysmile/?ref=br_rs">@Anh Chí </a></p>-->
          <!--                <label>Trưởng ban tiếp rượu</label>-->
          <!--                <label>Cuộc đời anh như 1 nốt nhạc trầm, nhưng gặp chị Nở vẫn quẩy được</label>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </li>-->
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">Công ty TNHH Quốc tế QT</h5>
        <ul class="recent-post">
          <li>
            <!--            <label class="mr-3">3 <br><span>FEB</span></label>-->
            <span>Giấy phép đăng ký kinh doanh số: 0107758029 do Sở kế hoạch và đầu tư Hà Nội cấp lần đầu ngày 14/03/2017</span>
          </li>

        </ul>
<!--        <ul class="social-pet mt-4">-->
<!--          <li><a href="https://www.facebook.com/LACO-L%C3%A0m-%C4%90%E1%BA%B9p-T%E1%BB%AB-Thi%C3%AAn-Nhi%C3%AAn-104202931233521/" title="facebook"><i class="fa fa-facebook-official"></i></a>-->
<!--          </li>-->
<!--          <li><a href="" title="twitter"><i class="fa fa-twitter"></i></a></li>-->
<!--          <li><a href="" title="google-plus"><i class="fa fa-google-plus"></i></a></li>-->
<!--          <li><a href="" title="instagram"><i class="fa fa-instagram"></i></a></li>-->
<!--        </ul>-->
        <!--        <ul class="recent-post">-->
        <!--          <li>-->
        <!--            <label class="mr-3">6 <br><span>FEB</span></label>-->
        <!--            <span>Bản cập nhật này thêm tí giao diện thôi, chứ tính năng vẫn vậy à. Không khác gì bản cũ đâu =))</span>-->
        <!--          </li>-->
        <!--        </ul>-->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold"></h5>
        <div class="input-group">
<!--          <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=56492" target="_blank" rel="noopener">-->
<!--            <img class="alignnone size-medium wp-image-15875" src="http://lacogarden.vn/wp-content/uploads/2019/07/20150827110756-dathongbao-300x114.png" alt="" width="300" height="114"></a>-->
                  <input type="text" class="form-control" placeholder="Your Email Address">
                  <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>

                <ul class="social-pet mt-4">
                  <li><a href="https://www.facebook.com/QT-Store-Chu%E1%BA%A9n-Th%E1%BB%9Di-Trang-Nam-196002297987242/" title="facebook"><i class="fa fa-facebook-official"></i></a>
                  </li>
                  <li><a href="" title="twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="" title="instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>

                <div class="col-lg-6 col-md-12 col-sm-12 mt-2 mb-4">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.0619947771997!2d105.87612461532711!3d20.990151894470117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aea707b4c5bb%3A0x463468a581811388!2zMTc5IFbEqW5oIEjGsG5nLCBIb8OgbmcgTWFpLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1585500426079!5m2!1svi!2s"
                    width="220" height="140" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center text-white">
          &copy; QT-SHOP
        </div>
      </div>
    </div>
  </div>
</section>
