<div class="col-6 offset-3">
  <h3 class="text-center">thêm loại sản phẩm</h3>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> Bạn đã tạo một loại mới
    </div>
    <div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="tạo một loại mới" (click)="message = !message">
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="danh sách" routerLink="/category-list">
      </div>
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="categoryForm"
    (ngSubmit)="categoryForm.valid && onSubmit()"
    novalidate>
    <div class="form-group">
      <label>danh sách</label>
      <input type="text" class="form-control" formControlName="name"/>
      <div class="alert-danger" *ngIf="categoryForm.get('name').invalid && categoryForm.get('name').touched" style="color: aqua">
         name must be ay least 1 characters
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Create</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" value="Cancel" routerLink="/category-list">
    </div>
  </form>
</div>
