<div>
  <form class="form-inline">
    <div style="padding: 0" id="navbarDropdownSearch" role="button"
         data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
      <input class="form-control mr-sm-2" type="search" placeholder="tìm kiếm Sản phẩm..." aria-label="Search" #search
             (keyup)="searchBook($event.currentTarget)" (focusout)="search.value=''">
    </div>
    <i [routerLink]="['/search-advanced', this.nameSearch]" style="margin-left: -35px" class="fa fa-search cursor-pointer" aria-hidden="true"></i>
  </form>
</div>

