<div class="anderfine">
  <h3>Giỏ hàng của bạn</h3>
  <table class="table table-bordered">
    <tr>
      <th>Sản Phẩm</th>
      <th>Giá</th>
      <!--      <th>Inventory</th>-->
      <th>Số Lượng</th>
      <th>Thành tiền</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let cart of cartList">
      <td>
        <img width="200px" src="{{cart.book.bookPictures[0].src}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{cart.book.name}}</h5>
        </div>
      </td>
      <td>{{cart.book.price | currency: "VND" : "đ "}}</td>
      <!--      <td>{{cart.book.amount}}</td>-->
      <td><input type="number" style="width: 60px" [value]="cart.quantity" name="quantity"
                 (change)="checkNumber($event, cart)" step="1" min="1">
      </td>
      <td>{{cart.book.price * cart.quantity | currency: "VND": "đ "}}</td>
      <td>
        <button class="btn btn-block badge-danger" data-toggle="modal" [attr.data-target]="'#deleteCartItem' + cart.id">
          Delete
        </button>
      </td>

      <div [id]="'deleteCartItem'+ cart.id" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">QT-SHOP</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Bạn có chắc chắn muốn xóa {{cart.book.name}} từ giỏ hàng??</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger">Cancel</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteCartItem(cart.id)">Ok
              </button>
            </div>
          </div>
        </div>
      </div>

    </tr>
    <tr>
      <td>Tổng giá</td>
      <td></td>
      <td></td>
      <td>{{totalPrice | currency: "VND": "đ "}}</td>
      <td></td>
    </tr>
  </table>
  <input type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#OrderModal" value="Order"
         *ngIf="token.getToken()">
  <input type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#OrderModalNoLogin" value="Order"
         *ngIf="!token.getToken()">
</div>

<div class="modal fade" id="OrderModal" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Vui lòng nhập thông tin giao hàng</h3>
        <form class="card" *ngIf="order" [formGroup]="cartForm">
          <div class="form-group">
            <label>Số điện thoại của bạn</label>
            <input type="text" class="form-control" formControlName="phone" (change)="onChangePhone($event)">
            <div class="alert-danger" *ngIf="cartForm.get('phone').invalid && cartForm.get('phone').touched"
                 style="color: red">
              Không phải là số điện thoại tiếng việt
            </div>
          </div>
          <div>
            <label>Địa chỉ giao hàng</label>
            <input type="text" class="form-control" formControlName="address" (change)="onChangeAddress($event)">
            <div class="alert-danger" *ngIf="cartForm.get('address').invalid && cartForm.get('address').touched"
                 style="color: red">
              Địa chỉ phải có ít nhất 3 ký tự
            </div>
          </div>
          <div class="form-group">
            <strong>Thanh toán</strong>
            <select class="form-control" formControlName="payment">
              <option *ngFor="let payment of paymentList" value="{{payment.id}}">{{payment.name}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
            <button [disabled]="cartForm.invalid" data-dismiss="modal" type="button" class="btn btn-primary"
                    (click)="createOrder()">Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OrderModalNoLogin" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="!token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">QT-SHOP </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Bạn có muốn tạo tài khoản để mua sau không??</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal"
                data-target="#OrderModalNoSignUp">No
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                data-target="#OrderModalSignUp">Yes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OrderModalNoSignUp" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="!token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">QT-SHOP </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Vui lòng nhập thông tin giao hàng</h3>
        <form class="card" *ngIf="order" [formGroup]="cartForm">
          <div class="form-group">
            <strong>Số điện thoại của bạn</strong>
            <input type="text" class="form-control" formControlName="phone" (change)="onChangePhone($event)">
            <div class="alert-danger" *ngIf="cartForm.get('phone').invalid && cartForm.get('phone').touched"
                 style="color: red">
              Không phải là số điện thoại tiếng việt
            </div>
          </div>
          <div class="form-group">
            <strong>Địa chỉ giao hàng</strong>
            <input type="text" class="form-control" formControlName="address" (change)="onChangeAddress($event)">
            <div class="alert-danger" *ngIf="cartForm.get('address').invalid && cartForm.get('address').touched"
                 style="color: red">
              Địa chỉ phải có ít nhất 3 ký tự
            </div>
          </div>
          <div class="form-group">
            <strong>Thanh toán</strong>
            <select class="form-control" formControlName="payment">
              <option *ngFor="let payment of paymentList" value="{{payment.id}}">{{payment.name}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
            <button [disabled]="cartForm.get('address').invalid || cartForm.get('phone').invalid" data-dismiss="modal"
                    type="button" class="btn btn-primary" (click)="createOrder()">Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="OrderModalSignUp" tabindex="-1" role="dialog" aria-labelledby="OrderModalLabel"
     aria-hidden="true" *ngIf="!token.getToken()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">QT-SHOP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Vui lòng nhập thông tin giao hàng</h3>
        <form class="card" *ngIf="order" [formGroup]="cartForm">
          <div class="form-group">
            <label>Tên tài khoản</label>
            <input type="text" class="form-control" formControlName="username">
            <div class="alert-danger" *ngIf="cartForm.get('username').invalid && cartForm.get('username').touched"
                 style="color: red">
              Tên người dùng phải dài từ 3 đến 20 ký tự
            </div>
          </div>

          <div class="form-group">
            <label>Mật khẩu</label>
            <input type="password" class="form-control" formControlName="password">
            <div class="alert-danger" *ngIf="cartForm.get('password').invalid && cartForm.get('password').touched"
                 style="color: red">
              mật khẩu phải ít nhất 6 kí tự
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div class="alert-danger" *ngIf="cartForm.get('email').invalid && cartForm.get('email').touched"
                 style="color: red">
              Email phải là một địa chỉ email hợp lệ
            </div>
          </div>

          <div class="form-group">
            <label>Số điện thoại của bạn</label>
            <input type="text" class="form-control" formControlName="phone" (change)="onChangePhone($event)">
            <div class="alert-danger" *ngIf="cartForm.get('phone').invalid && cartForm.get('phone').touched"
                 style="color: red">
              Không phải là số điện thoại tiếng việt
            </div>
          </div>
          <div>
            <label>Địa chỉ giao hàng</label>
            <input type="text" class="form-control" formControlName="address" (change)="onChangeAddress($event)">
            <div class="alert-danger" *ngIf="cartForm.get('address').invalid && cartForm.get('address').touched"
                 style="color: red">
              Địa chỉ phải có ít nhất 3 ký tự
            </div>
          </div>
          <div class="form-group">
            <strong>Thanh toán</strong>
            <select class="form-control" formControlName="payment">
              <option *ngFor="let payment of paymentList" value="{{payment.id}}">{{payment.name}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
            <button [disabled]="cartForm.invalid" data-dismiss="modal" type="button" class="btn btn-primary"
                    (click)="createUser()">Lưu
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




